<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>所有用户</title>
</head>
<body>
<table class="m-table" cellpadding="0" cellspacing="0">
    <colgroup>
        <col width="10%"/>
        <col width="10%"/>
        <col width="10%"/>
        <col width="10%"/>
        <col width="10%"/>
        <col width="10%"/>
    </colgroup>
    <thead>
    <tr>
        <th>编号</th>
        <th>姓名</th>
        <th>性别</th>
        <th>身份</th>
        <th>学历</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="userlist,item:${userlist}">
        <td align="center" th:text="${userlist.uid}"></td>
        <td align="center" th:text="${userlist.username}"></td>
        <td align="center" th:text="${userlist.sex}"></td>
        <td align="center" th:text="${userlist.note}"></td>
        <td align="center" th:text="${userlist.name}"></td>
        <td align="center">
            <a th:href="@{'/user/userEdit?uid='+${userlist.uid}}">编辑</a>
            <a th:href="@{'/user/userDelete?uid='+${userlist.uid}}">删除</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>